@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
$main-color: rgb(38, 172, 33);
$main-font: 'Lato', sans-serif;
$shadow-color: rgba(185, 36, 36, 0.384);
$additional-color: rgb(185, 36, 36);
$font-color: rgb(82, 77, 77);