$main-color: rgb(38, 172, 33);
$main-hover-color: rgb(26, 121, 23);
$main-font: "Lato", sans-serif;
$shadow-color: rgba(185, 36, 36, 0.384);
$additional-color: rgb(185, 36, 36);
$font-color: rgb(82, 77, 77);
$alert-color: rgb(170, 96, 96);